<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FUNNELVENTAS.Properties.Settings.Valor" connectionString="server=localhost;user id=root;password=2021;persistsecurityinfo=True;database=funnel_ventas2"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>